/* CSS files add styling rules to your content */

body {
  background-color: #f7e6ff;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: purple;
}

h2 {
  margin-top: 2em;
}

.question {
  display: flex;
  margin-top: 2em;
}

.answer-choice img {
  height: 10em;
}
.question {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.answer-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
